<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= light_section.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li id="header-light-section">
            <%= link_to "Home", potepan_path %>
          </li>
          <% if shop_display %>
            <li><a href="#">shop</a></li>
          <% end %>
          <li class="active"><%= light_section.name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
