<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <%= render "layouts/header_form" %>
    <%= yield %>
    <%= render "layouts/footer_form" %>
    <%= render "layouts/login_modal" %>
    <%= render "layouts/sign_up_modal" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
